## Directory ##
.devcontainer
.github
.husky
.vscode
dist
node_modules
public

## Files ##
.babelrc
.editorconfig
.env*
.gitignore
.prettierignore
.prettierrc.json
CNAME
Dockerfile
LICENSE
vite.config.ts

*.html
*.md
*.yml
*.yaml
*.json