name: CI

# Run if something is commited on `main` or there is still an open pulll request with `main` as target branch
on:
  pull_request:
    branches:
      - main
  push:
    paths-ignore:
      - ".husky/**"
      - "public/**"
      - "index.html"
      - ".gitignore"
      - "LICENSE"
      - "README.md"
    branches:
      - main

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest

    # Configure npm env and strategies
    strategy:
      matrix:
        node-version: [ 16.x ]
    env:
      NODE_ENV: "development"
      NODE_OPTIONS: "--max_old_space_size=4096"

    # Checkout > Merge Conflict Check > Install > Lint > Test
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Merge Conflict Check
        uses: olivernybroe/action-conflict-finder@v4.0
      - name: Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        id: pnpm-install
        with:
          version: 7
          run_install: false
      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT
      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Setup
        run: |
          pnpm install --no-frozen-lockfile
      - name: Lint
        if: "!contains(github.event.head_commit.message, 'WIP')"
        run: |
          pnpm lint
      - name: Test
        if: "!contains(github.event.head_commit.message, 'WIP')"
        run: |
          pnpm build
          pnpm test
